.vermelho{background-color: crimson;

}

.verde{background-color: green;

}
.amarelo{background-color: rgb(255, 230, 0);

}
.azul{background-color: blue;


}
.card{
    position: absolute;
        height: 180px;
        width: 180px;
        }

.top{
top: 8px;

}

.bot{
bottom: 8px;
}

.esquerda{
left: 8px;
}

.direita{
right: 8px;    
}